<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>579843586211-erdetbnjg0crsi70710ll4o44ddpmpl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579843586211-erdetbnjg0crsi70710ll4o44ddpmpl0</string>
	<key>API_KEY</key>
	<string>AIzaSyAkKo1r34JtqqWMDMW1OTG7GL-4y_MeBhI</string>
	<key>GCM_SENDER_ID</key>
	<string>579843586211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramakrishna.iSafe</string>
	<key>PROJECT_ID</key>
	<string>isafe-10ab6</string>
	<key>STORAGE_BUCKET</key>
	<string>isafe-10ab6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:579843586211:ios:fb9117b21dd7b32f</string>
	<key>DATABASE_URL</key>
	<string>https://isafe-10ab6.firebaseio.com</string>
</dict>
</plist>